* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  padding: 3px 6px;
  margin: 5px 8px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #10b981;
  cursor: pointer;  
}
.myhead {
  color: #10b981;
  font-size: 2.6em;
}
.inputcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: auto;
}
.subinput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  padding: 30px 50px;
  width: 60%;
}
input {
  width: 100%;
  line-height: 22px;
  border: 1px solid rgb(212, 206, 206);
  border-radius: 3px;
  margin: 5px 0px;
  padding: 3px 0px;
}
.searchbutton {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #10b981;
  cursor: pointer;
}
img{
    width: 300px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.drinkcontainer{
  margin: 20px 10px;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}
h1{
  font-size: 26px;
  margin: 15px 15px 5px 15px;
  font-weight: 900;
}
h2{
  font-size: 22px;
  margin: 8px 15px;
  font-weight: 300;
}
p{
  color: gray;
  font-size: 18px;
  margin: 8px 15px;
 font-weight: 700;
}
.detailbtn{
  padding: 8px 16px;
  margin: 5px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #10b981;
}
@media only screen and (max-width:600px){
  .subinput{
    width: 100%;
    }
}

